@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@* Enlazar archivo CSS *@
<link href="~/Content/login-style.css" rel="stylesheet" />

<div class="login-page">
    <div class="form-box">
        <h2>Iniciar Sesión</h2>
        <form id="frmAcceder">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text"
                       name="usuario"
                       id="usuario"
                       placeholder="Ingrese su usuario" />
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password"
                       name="password"
                       id="password"
                       placeholder="Ingrese su contraseña" />
            </div>

            <input type="submit" value="Entrar" />
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#frmAcceder").submit(function (e) {//Me permite capturar el evento submit del formulario y utilizar la data digita en la vista.

                e.preventDefault();// cancela el evento submit del formulario.
                url = "@Url.Content("~/Acceso/Enter")";// creamos la variable url que contiene la ruta del controlador y el método al que se va a enviar la información.
                parametros = $(this).serialize();// serializa los datos del formulario para enviarlos al controlador.

                $.post(url, parametros, function (data) {// realizamos un post hacia el controlador y enviamos los datos serializados.

                    if (data == 1) { // si la respuesta del controlador es 1, significa que el usuario y contraseña son correctos y entra al menú.
                        document.location.href = "@Url.Content("~/")";
                    } else {// muestra un mensaje de error si el usuario y contraseña son incorrectos.
                        alert(data);
                    }
                });
            });
        });
    </script>
}
